<mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>

        <mat-card-title>Batman</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/batman.png">

    <mat-card-content>
        <p>
            R$:15,00
        </p>

    </mat-card-content>

</mat-card>

<mat-card style="position: relative; left: 60px;">
    <mat-card-header>
        <div mat-card-avatar class="lalaland" ></div>

        <mat-card-title>La La Land</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/lalaland.png">

    <mat-card-content>
        <p>
           R$:30,00
        </p>

    </mat-card-content>

</mat-card>

<mat-card style="position: relative; left: 140px;">
    <mat-card-header>
        <div mat-card-avatar class="harry"></div>

        <mat-card-title>Harry Potter</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/harry.png">

    <mat-card-content>
        <p>
           R$:30,00
        </p>

    </mat-card-content>

</mat-card>

<mat-card style="position: relative; left: 220px;">
    <mat-card-header>
        <div mat-card-avatar class="beetleJuice"></div>

        <mat-card-title>BeetleJuice</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/addams.png">

    <mat-card-content>
        <p>
           R$:15,00
        </p>

    </mat-card-content>

</mat-card>


<mat-card style="position: relative; top: 540px; right: 1045px;">
    <mat-card-header>
        <div mat-card-avatar class="vingadores"></div>

        <mat-card-title>Vinagdores Ultimato</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/vingadores.png">

    <mat-card-content>
        <p>
           R$:40,00
        </p>

    </mat-card-content>

</mat-card>

<mat-card style="position: relative; top: 18px; left: 320px; ">
    <mat-card-header>
        <div mat-card-avatar class="thor-ragn"></div>

        <mat-card-title>Thor-Ragnarok</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/thor.png">

    <mat-card-content>
        <p>
           R$:30,00
        </p>

    </mat-card-content>

</mat-card>





